*{ margin: 0;
padding: 0;
box-sizing: border-box;}
*::before, *::after{ box-sizing: border-box;}
 .icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }


@keyframes cirle{
	from{transform: rotate(0deg);}
	to{
		transform: rotate(360deg);
	}
}


.page{display: flex;
	flex-direction: column;
	background:transparent url(http://p3.music.126.net/sH3PZLAL9hS0bq3k_flvNQ==/18263987649504977.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height: 100vh;
	}

.disc-song-wrapper{ display: flex;
flex-direction: column;
height: 83vh;
}
.pointer{position: relative;
z-index: 1;
	
}

.pointer img{  width:96px;
				height: 137px;
				position: absolute;
				left: 4.6rem;
		}
.disc-contaiter .disc{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	margin-top:10vh;
	
}		
.disc > .ring,.disc>.cover{
	width: 8.2rem;
	position: absolute;
}	

.disc>.light{
	animation: cirle 20s linear infinite;
	width: 8.2rem;
}	
.disc>.cover{width: 5.2rem;
border-radius: 50%;
animation: cirle 20s linear infinite;
}

.song-description{
display: flex;
flex-grow: 1;
flex-direction: row;
justify-content:space-around;
width: 8rem;
margin:  0 auto;
color: #fff;
margin-top: 17vh;
}
.song-description span{display: block;
font-size: 28px;
 }
.song-description span:nth-child(2){display: block;
font-size: 24px;
 }
 
 .progressbar{
 display: flex;
flex-direction: row;
justify-content: space-around;
 width: 9rem;
 margin:0  auto;
height: 4vh;
 font-size: 12px;
 color: #FFFFFF;
 }
 .progressbar div{ width: 7rem;
 background:#D3D3D3;
 height: 3px;
 margin-top: 1vh;
 border-radius: 10px;
}
 .progressbar div:before{border: 7px solid #FFF;
 display: block; 
 width: 5px;
 height: 5px;
 border-radius: 10px;
 content: '';
 opacity: 10;
 margin-top: -5px;
 box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);}
  .progressbar div:after{border: 3px solid #EB001D;
 display: block; 
 width: 5px;
 height: 5px;
 border-radius: 10px;
 content: '';
 opacity: 10;
 margin-top: -10px;
 margin-left:4px ;}
 
 .progressbar span:nth-child(3){
 color: #FFFFFF;
 opacity: .4;
 }
 .musiccontrol{ display: flex;
 flex-direction: row;
 justify-content: space-around;
 width: 9.5rem;
 margin: 0 auto;
 font-size: 28px;
 margin-top: 1vh;
 padding-bottom: 2vh;}
  .musiccontrol span:nth-child(3){ font-size: 45px;
  margin-top: -10px;}
  
  .lyric{
  display: none;
  overflow: hidden;
  height: 83vh;
  padding-top: 8vh;
}
  
  .lyric p{ font-size: 14px;
  text-align: center;
  color: #dedede;
  line-height: 24px;}
  .p-m-wrapper{ display:flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20vh;}
  
